<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <link href="styles.css" rel="stylesheet" />
    <title>Luke Deen Taylor — Resume</title>
  </head>
  <body>
    <main>
      <header>
        <h1>Luke Deen Taylor</h1>
      </header>

      <div class="columns">
        {{!-- About --}}

        <section id="about">
          <h2>About</h2>

          {{#each about as |aboutBlock|}}
            <article>
              <header>
                <h3>{{aboutBlock.title}}</h3>
                <p class="subhead">Since {{getDateComponent aboutBlock.originDate 'year'}}</p>
              </header>
              <p>
                {{aboutBlock.description}}
              </p>
            </article>
          {{/each}}
        </section>

        {{!-- Experience --}}

        <section id="experience">
          <h2>Experience</h2>

          {{#each experience as |experienceBlock|}}
            <article>
              <header>
                <h3>{{experienceBlock.employer}}</h3>
                <p class="subhead">
                  {{
                    dateRange
                    experienceBlock.startDate experienceBlock.endDate
                    experienceBlock.datePrecision
                  }} | {{experienceBlock.position}}
                </p>
              </header>
              <p>
                <ul>
                  {{#each experienceBlock.tasks as |task|}}
                    <li>{{task}}</li>
                  {{/each}}
                </ul>
              </p>
            </article>
          {{/each}}
        </section>

        {{!-- Work --}}

        <section id="work">
          <h2>Work</h2>
          {{#each work as |project|}}
            <article>
              <header>
                <h3><a href="{{project.href}}">{{project.title}}</a></h3>
                <p class="subhead">
                  {{dateRange project.startDate project.endDate 'year'}}
                  |
                  {{#each project.tags as |tag|}}
                    {{tag}}{{#unless @last}}, {{/unless}}
                  {{/each}}
                </p>
              </header>
              <p>
                {{project.description}}
              </p>
            </article>
          {{/each}}
        </section>
      </div>
    </main>
  </body>
</html>
